#watermark {
  width: 150px;
  height: 60px;
  background-color: #000000;
  padding: 10px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  right: -150px;
  bottom: 50px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  position: absolute;
  color: #ffffff;
  font-family: Arial;
  font-size: 10pt; }

#watermark-image {
  width: 200px;
  height: 30px;
  background-image: url("../img/player/watermark.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat; }

.watermark-show {
  animation-name: watermark-animation-move-in, watermark-animation-wait, watermark-animation-move-out;
  animation-duration: 2s, 2s, 2s;
  animation-delay: 2s, 4s, 6s;
  animation-timing-function: ease-out, linear, ease-in;
  animation-iteration-count: 1, 1, 1; }

@keyframes watermark-animation-move-in {
  0% {
    transform: translate(0px); }
  100% {
    transform: translate(-150px); } }

@keyframes watermark-animation-wait {
  0% {
    transform: translate(-150px); }
  100% {
    transform: translate(-150px); } }

@keyframes watermark-animation-move-out {
  0% {
    transform: translate(-150px); }
  100% {
    transform: translate(0px); } }
