/* Base css class for design objects */
.vfabrika-default-design-object-style {
	position: absolute;
}

.vfabrika-default-design-object-style:hover {
	position: absolute;
}

.vfabrika-default-design-object-style:active {
	position: absolute;
}

.vfabrika-default-design-object-style:disabled {
	position: absolute;
}

/* textDesignObject - textBilgi */
.vfabrika-design-object-style_1487a79d-e13f-49ec-a196-c4e4fa30bfaf_7e943a89-083b-4b42-a98d-169b462dfd54_45766a57-e769-47fe-bf6d-753bac806b9c {
	left: 549px;
	top: 27px;
	width: 195px;
	height: 87px;
}

/* delayDesignObject - delay1 */
.vfabrika-design-object-style_74944262-96e4-4e1b-ba2e-6c0c9b0056bd_c1ee522f-9234-44f9-9654-9d13b4252a1a_1a38edbf-19bd-4959-93fe-40653c4cd30d {
	left: -101px;
	top: 236px;
	width: 48px;
	height: 48px;
}

/* textDesignObject - textE */
.vfabrika-design-object-style_74944262-96e4-4e1b-ba2e-6c0c9b0056bd_c1ee522f-9234-44f9-9654-9d13b4252a1a_f6865eea-19ed-4f1d-9d9f-cb72eb0f2775 {
	left: 22px;
	top: 584px;
	width: 842px;
	height: 37px;
}

/* textDesignObject - textD */
.vfabrika-design-object-style_74944262-96e4-4e1b-ba2e-6c0c9b0056bd_c1ee522f-9234-44f9-9654-9d13b4252a1a_f791a4a2-1dbe-4126-b495-13ebc4351301 {
	left: 20px;
	top: 520px;
	width: 842px;
	height: 37px;
}

/* textDesignObject - textC */
.vfabrika-design-object-style_74944262-96e4-4e1b-ba2e-6c0c9b0056bd_c1ee522f-9234-44f9-9654-9d13b4252a1a_d4878095-60bc-4da3-884a-4a97582339e3 {
	left: 17px;
	top: 472px;
	width: 852px;
	height: 37px;
}

/* textDesignObject - textB */
.vfabrika-design-object-style_74944262-96e4-4e1b-ba2e-6c0c9b0056bd_c1ee522f-9234-44f9-9654-9d13b4252a1a_2ffda1dd-bdef-46b6-bb73-2ed24bf4c144 {
	left: 17px;
	top: 423px;
	width: 850px;
	height: 37px;
}

/* textDesignObject - textA */
.vfabrika-design-object-style_74944262-96e4-4e1b-ba2e-6c0c9b0056bd_c1ee522f-9234-44f9-9654-9d13b4252a1a_86f3a6c0-413f-4944-ad76-5b82cadb3fd7 {
	left: 17px;
	top: 376px;
	width: 856px;
	height: 37px;
}

/* videoDesignObject - video1 */
.vfabrika-design-object-style_058d320f-1f05-4196-a37f-61b709519515_f9dea4c6-d34f-4b9e-87fd-f7073fd8cb70_3fd7645d-f999-4a8f-8269-baf23a7c6a0b {
	left: 185px;
	top: 54px;
	width: 648px;
	height: 486px;
}

/* textDesignObject - textSure */
.vfabrika-design-object-style_058d320f-1f05-4196-a37f-61b709519515_f9dea4c6-d34f-4b9e-87fd-f7073fd8cb70_832e182c-9ef0-42a3-bfae-09399c8f3eee {
	left: 52px;
	top: 10px;
	width: 171px;
	height: 62px;
}

/* inputButtonDesignObject - button1 */
.vfabrika-design-object-style_058d320f-1f05-4196-a37f-61b709519515_f9dea4c6-d34f-4b9e-87fd-f7073fd8cb70_3ed0a881-c031-41df-914c-6b0171fcced4 {
	left: 170px;
	top: 571px;
	width: 147px;
	height: 40px;
}

/* timerDesignObject - timer1 */
.vfabrika-design-object-style_058d320f-1f05-4196-a37f-61b709519515_f9dea4c6-d34f-4b9e-87fd-f7073fd8cb70_6b58d2d3-6b8d-442a-b4b4-6db3497fd528 {
	left: -71px;
	top: 130px;
	width: 48px;
	height: 48px;
}

/* inputButtonDesignObject - button2 */
.vfabrika-design-object-style_058d320f-1f05-4196-a37f-61b709519515_f9dea4c6-d34f-4b9e-87fd-f7073fd8cb70_0ae0a839-48d0-46cb-9cc4-6bab394635d0 {
	left: 345px;
	top: 569px;
	width: 147px;
	height: 40px;
}

/* inputButtonDesignObject - button3 */
.vfabrika-design-object-style_058d320f-1f05-4196-a37f-61b709519515_f9dea4c6-d34f-4b9e-87fd-f7073fd8cb70_e77b9719-bb91-4d9a-9161-0a44b83f8bec {
	left: 515px;
	top: 566px;
	width: 147px;
	height: 40px;
}

/* inputButtonDesignObject - button5 */
.vfabrika-design-object-style_058d320f-1f05-4196-a37f-61b709519515_f9dea4c6-d34f-4b9e-87fd-f7073fd8cb70_f8ff3f47-0991-4577-8bb9-0328c29ea25a {
	left: 689px;
	top: 566px;
	width: 147px;
	height: 40px;
}

/* imageDesignObject - image1 */
.vfabrika-design-object-style_058d320f-1f05-4196-a37f-61b709519515_759f0254-9b6c-46da-a743-437cf9e11de7_40f7df76-72ff-48b5-83da-93899247f5c6 {
	left: 17px;
	top: 17px;
	width: 685px;
	height: 315px;
}

/* inputButtonDesignObject - button4 */
.vfabrika-design-object-style_058d320f-1f05-4196-a37f-61b709519515_759f0254-9b6c-46da-a743-437cf9e11de7_b66a0e15-8aba-4e81-9b23-0fc84ede43d1 {
	left: 970px;
	top: 586px;
	width: 58px;
	height: 25px;
}

/* textDesignObject - text1 */
.vfabrika-design-object-style_058d320f-1f05-4196-a37f-61b709519515_759f0254-9b6c-46da-a743-437cf9e11de7_b76070fc-bb0b-4752-b821-61f845c1de1a {
	left: 744px;
	top: 20px;
	width: 272px;
	height: 311px;
}

/* textDesignObject - txtE */
.vfabrika-design-object-style_058d320f-1f05-4196-a37f-61b709519515_759f0254-9b6c-46da-a743-437cf9e11de7_690e5012-0a09-4316-9cb2-f9ee525e8053 {
	left: 15px;
	top: 579px;
	width: 860px;
	height: 37px;
}

/* textDesignObject - txtD */
.vfabrika-design-object-style_058d320f-1f05-4196-a37f-61b709519515_759f0254-9b6c-46da-a743-437cf9e11de7_ab289f6d-c632-46c2-b5c0-6f13fd304b2f {
	left: 15px;
	top: 518px;
	width: 855px;
	height: 37px;
}

/* textDesignObject - txtC */
.vfabrika-design-object-style_058d320f-1f05-4196-a37f-61b709519515_759f0254-9b6c-46da-a743-437cf9e11de7_83473741-db71-4eb7-acb7-55b248983597 {
	left: 17px;
	top: 469px;
	width: 863px;
	height: 37px;
}

/* textDesignObject - txtB */
.vfabrika-design-object-style_058d320f-1f05-4196-a37f-61b709519515_759f0254-9b6c-46da-a743-437cf9e11de7_92a61f34-6d2b-4ede-972a-226853d567c2 {
	left: 7px;
	top: 423px;
	width: 868px;
	height: 37px;
}

/* textDesignObject - txtA */
.vfabrika-design-object-style_058d320f-1f05-4196-a37f-61b709519515_759f0254-9b6c-46da-a743-437cf9e11de7_67631120-c5a4-4d9c-a895-f50566e05525 {
	left: 12px;
	top: 371px;
	width: 862px;
	height: 37px;
}

/* textDesignObject - text2 */
.vfabrika-design-object-style_058d320f-1f05-4196-a37f-61b709519515_01b404aa-bffb-45ac-aca8-82e386d9fbab_636c4757-e5f6-4118-ad17-fc35c4359106 {
	left: 241px;
	top: 288px;
	width: 600px;
	height: 53px;
}

/* inputButtonDesignObject - button6 */
.vfabrika-design-object-style_058d320f-1f05-4196-a37f-61b709519515_01b404aa-bffb-45ac-aca8-82e386d9fbab_dfe35fc8-af12-4acb-8b20-ee184499c6ca {
	left: 598px;
	top: 377px;
	width: 140px;
	height: 56px;
}

/* inputButtonDesignObject - button7 */
.vfabrika-design-object-style_058d320f-1f05-4196-a37f-61b709519515_01b404aa-bffb-45ac-aca8-82e386d9fbab_604aa4ba-1fba-43a7-89c0-40055f751200 {
	left: 355px;
	top: 379px;
	width: 140px;
	height: 56px;
}

/* contentDesignObject - cA */
.vfabrika-design-object-style_b64e9569-df13-4112-a5d3-084ae1dcdda7_875296a4-b238-4f93-a7d3-a13868be6539_38e3e653-ad1a-4e44-951e-b22ae4372604 {
	left: 0px;
	top: 366px;
	width: 878px;
	height: 44px;
	background-color: #00FF00;	
}

/* contentDesignObject - cC */
.vfabrika-design-object-style_b64e9569-df13-4112-a5d3-084ae1dcdda7_875296a4-b238-4f93-a7d3-a13868be6539_dd41818c-52b6-4596-80c3-09949254da0f {
	left: 7px;
	top: 459px;
	width: 872px;
	height: 44px;
	background-color: #00FF00;	
}

/* contentDesignObject - cD */
.vfabrika-design-object-style_b64e9569-df13-4112-a5d3-084ae1dcdda7_875296a4-b238-4f93-a7d3-a13868be6539_38911c1f-49db-4453-9f6e-f9fe86bae864 {
	left: 5px;
	top: 511px;
	width: 863px;
	height: 44px;
	background-color: #00FF00;	
}

/* contentDesignObject - cE */
.vfabrika-design-object-style_b64e9569-df13-4112-a5d3-084ae1dcdda7_875296a4-b238-4f93-a7d3-a13868be6539_67f0a062-83cf-41e1-bebd-4670c40006e0 {
	left: 2px;
	top: 574px;
	width: 881px;
	height: 44px;
	background-color: #00FF00;	
}

/* contentDesignObject - cB */
.vfabrika-design-object-style_b64e9569-df13-4112-a5d3-084ae1dcdda7_875296a4-b238-4f93-a7d3-a13868be6539_f6ae3974-8c3e-4389-8743-6261dd7621df {
	left: 2px;
	top: 415px;
	width: 879px;
	height: 44px;
	background-color: #00FF00;	
}

